<div class="post_form_outer">
<%= form_with(model: @user, local: true) do |f| %>
  <div class="form_error_m">
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "件のエラーがあります。") %></h2>
          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
  </div>
  <div class="my_profile">
    <div class="card mb-3 p-3" style="width: 30rem;">
      <div class="card-body">
        <div class="card-text">
          <h1>My profile</h1>
          <%= f.text_field :name, placeholder: "名前", class: "form-control mt-3" %>
          <%= f.email_field :email, readonly: true, class: "form-control mt-3" %>
          <%= f.password_field :password, placeholder: "パスワード", class: "form-control mt-3" %>
          <%= f.password_field :password_confirmation, placeholder: "パスワード確認", class: "form-control mt-3 mb-3" %>
        </div>
          <%= f.file_field :myimage %>
          <%= f.hidden_field :myimage_cache %>
        </div>
        <% if @user.myimage && @user.myimage.url %>
            <%= image_tag @user.myimage.url, class: "card-img-top my_img" %>
        <% end %>
        <%= f.submit class: "btn btn-primary mt-3" %>
    </div>
  </div>
<% end %>
</div>
