<h1>edit</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @user, local: true) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email, readonly: true %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation %>

  <% if @user.myimage && @user.myimage.url %>
        <%= image_tag @user.myimage.url, class: "card-img-bottom" %>
  <% end %>
  <%= f.file_field :myimage %>
  <%= f.hidden_field :myimage_cache %>

  <%= f.submit "更新" %>
<% end %>
