<div class="form_content">
  <div class="account_error_m ">
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "個エラー") %> があります。 <%= @user.name %> </h2>
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="sign_form">
  <p class="text-center">photoapp</p>
    <%= form_with(model: @user, local: true) do |f| %>
      <%= f.text_field :name,  placeholder: "名前", class: "form-control mb-3" %>
      <%= f.email_field :email, placeholder: "メールアドレス", class: "form-control mb-3"  %>
      <%= f.password_field :password, placeholder: "パスワード", class: "form-control mb-3" %>
      <%= f.password_field :password_confirmation, placeholder: "パスワード確認", class: "form-control" %>
      <div class="text-center">
        <%= f.submit "アカウントを作成する", class: "btn btn-primary mt-3 text-center w-100" %>
      </div>
    <% end %>
    <div class="text-center border-top border-light mt-3">
      <%= link_to "既存のアカウントでログイン", new_session_path, class: "btn btn-success mt-3 w-100"%>
    </div>
  </div>
</div>

