<div class="form_original">
  <%= form_with(model: @post, local: true, url: choose_new_or_edit ) do |form| %>
    <div class="form_error_m">
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= @post.errors.count %>件のエラーがあります。</h2>
          <ul>
            <% @post.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="card mb-3 p-3" style="width: 20rem;">
      <div class="card-body">
        <%= form.text_area :content, class: "card-text form-control", rows: 10, size: 40 %>
      </div>
      <% if @post.picture && @post.picture.url %>
        <%= image_tag @post.picture.url, class: "card-img-bottom" %>
      <% end %>
      <%= form.file_field :picture %>
      <%= form.hidden_field :picture_cache %>
      <%= form.submit class: "btn btn-primary mt-3" %>
    </div>
  <% end %>
</div>
