<div class="post_form_outer">
  <%= form_with(model: @post, local: true, url: posts_path ) do |form| %>
    <div class="show_wrap">
      <div class="show_item">
        <div class="show_img_space">
          <% if @post.picture && @post.picture.url %>
            <%= image_tag @post.picture.url, class: "show_img" %>
          <% end %>
          <%= form.hidden_field :picture_cache %>
        </div>
        <div class="show_attribute">
          <%= form.text_area :content, readonly: true, class: "form-control w-100", rows: 10, size: 40 %>
          <%= form.submit class: "btn btn-primary mt-3" %>
          <%= form.submit '戻る',  class: "btn btn-primary mt-3", name: 'back' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
