<div class="show_wrap">
  <div class="show_item">
    <div class="show_img_space">
      <% if @post.picture? %>
        <%= image_tag @post.picture.url, class: "show_img" %>
      <% end %>
    </div>
    <div class="show_attribute">
      <p>投稿者:<%= @post.user.name %></p>
      <p>投稿日:<%= l @post.created_at, format: :long %></p>
      <p><%= @post.content %></p>
      <div class="show_menu">
        <%= link_to 'return', posts_path, class: "ml-1" %>
        <% if @post.user.id == current_user.id %>
          <%= link_to "edit", edit_post_path(@post.id), class: "ml-1" %>
          <%= link_to "destroy", post_path(@post.id), class: "ml-1",method: :delete ,data: { confirm: "削除してよろしいですか？" } %>
        <% end %>
        <div id="favorite_post_<%= @post.id %>">
          <% if @favorite.present? %>
            <%= render "/favorites/bookmark_done", post: @post %>
          <% else %>
            <%= render "/favorites/bookmark_yet", post: @post %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
